body{
	background-image: url(../images/background_2.png);
	background-size: 100% 100%;
	background-color: #808080;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	width: 4850px;
}
.grey>a{
	position: absolute;
	left: 6em;
	top: 2em;
	font-style: italic;
}
.grey>a>img{
	position: absolute;
	left: 3em;
	bottom: 1em;
}
.grey{
	width: 20vw;
	height: 10vh;
	background-color: #333;
	position: fixed;
	bottom: 0;
	top: 0em;
	left: 55em;
}
.grey>a:visited{
	color:#FFF;
}
.grey>a:hover{
	color:#FFF;
}
.grey>a:active{
	color:#FFF;
}
.grey>a:link{
	color:#FFF;
	text-decoration: none;
}
.diamond{
	width: 27.5vw;
    height: 55vh;
    background: #Fff;
    transform: rotate(-45deg);
    position: absolute;
    right: 28em;
    bottom: 9em;
}
p{
	transform: rotate(45deg);
	font-size: 2.5em;
	font-weight: bolder;
	position: fixed;
	top: 2em;
	left: 1.3em;
	bottom: 1em;
}
.lastone{
	width: 25vw;
	height: 15vh;
	background-color: #FF4D4D;
	position: fixed;
	bottom: 0em;
	left:7em;
	padding: 1em;
}
