html,body{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../images/background_2.png);
	background-size: 100% 100%;
	background-color: #808080;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.img{
	padding-top: 40vh;
	margin: auto;
	width: 100px;
	height: 180px;
	vartical-align:middle;
	line-height: 80px;

}
img{
	width: 50px;
	height: 80px;
	transition: width 1s; height: 1s;
}
img:hover{
	width: 100px;
	height: 160px;
}
